@media (max-width: 1351px) and (min-width: 786px) {
  html {
    font-size: calc(100vw / 786 * 10);
  }

    :root {
      --size-h3: 2.4rem;
      --size-text: 1.6rem;
    }
  
    .container {
      max-width: 61rem;
      padding: 0;
    }
  
    .rules {
      padding: 8rem 0;
    }
  
    .title {
      font-size: 4rem;
      margin-bottom: 5.6rem;
    }
  
    .rules__content {
      padding: 0;
    }
  
    .rules__list,
    .rules-point__list {
      gap: 3.2rem;
    }
  
    .rules__list {
      padding: 0;
    }
  
    .rules-point__list {
      padding-left: 2rem;
    }
  
    .item__wrap {
      gap: 1.6rem;
      padding: 0.4rem 0;
    }
  
    .rules__number {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0.3rem 0;
    }
  
    .rules__heading {
      width: 41.4rem;
      margin-right: 0;
    }
  
    .rules__title {
      font-size: var(--size-h3);
      margin-bottom: 1.6rem;
    }
  
    .rules__icon {
      max-width: 12.4rem;
    }
}

@media (max-width: 785px) and (min-width: 320px) {
  html {
    font-size: calc(100vw / 424 * 10);
  }

    :root {
      --size-h3: 1.6rem;
      --size-text: 1.2rem;
    }
  
    .container {
      max-width: 36rem;
      padding: 0;
    }
  
    .rules {
      padding: 2.4rem 0;
    }
  
    .title {
      font-size: 2.4rem;
      margin-bottom: 4.8rem;
    }
  
    .rules__content {
      padding: 0;
    }
  
    .rules-point__list {
      padding-left: 1.6rem;
    }
  
    .item__wrap {
      gap: 0.8rem;
      padding: 0;
    }
  
    .rules__number {
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1;
      font-size: 1rem;
      padding: 0.5rem 0;
    }
  
    .rules__heading {
      width: 23.4rem;
      margin-right: 0;
    }
  
    .rules__title {
      font-size: var(--size-h3);
      margin-bottom: 0.8rem;
    }
  
    .rules__icon {
      max-width: 9.2rem;
    }
}


